
.image__item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}
.image__list{
    @media screen and (min-width:768px) {
        max-width: calc((100% - 30px)/2);
    }
    @media screen and (min-width:1200px) {
        max-width: calc((100% - 60px)/3); 
    }
}

.image__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--time-duration);
    &:hover, &:focus{
        transform: translateY(0%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
    rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.group__tittle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color)
}

.group__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--minor-color)
}

.group {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    flex-grow: 1;
}
