.fotter {
   padding: 60px 0px;
    background: #2F303A;
    @media screen and (max-width: 1200px) {
        text-align: center; 
    }
 }


.container.fotter {
    padding-top: 0;
    padding-bottom: 0;
    align-items: baseline;
}

.fotter__box{
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    }
}

.fotter__first{
    @media screen and (min-width:768px) {
    margin-right: 165px;
}
@media screen and (min-width:1200px) {
    margin-right: 70px;
}
}
.fotter__logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    @media screen and (max-width: 767px){
        display: block;
        margin-bottom: 20px;
    };
        
    }

.fotter__lg {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--normal-color);
}

.address {
    margin-top: 20px;
    font-style: normal;
    @media screen and (max-width: 767px){
        margin-bottom: 60px;
    };
}

.address__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--normal-color);
}

.address__white {
    color: var(--normal-color);
    transition: color var(--time-duration);
    &:hover, &:focus{
        color: var(--accent-color)
    }
}

.address__list {
    margin-bottom: 9px;
    &:last-child{margin-bottom: 0px;}
}

.address__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-duration);
    &:hover, &:focus{
        color: var(--accent-color)
    }
}
