.backdrop {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--time-duration), visibility var
(--time-duration);
}

.backdrop.is-hidden {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
}
