.modal {
    background: var(--normal-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    padding: 40px;
    @media screen and (min-width: 480px)
     {
    width: 450px;
    height: 609px;
}

@media screen and (min-width: 1200px)
{
    height: 581px;
    width: 528px;
}
}

.modal__tittle {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color)
}